<div *ngIf="cursus">
<h2> Cursus wijzigen</h2>
<div class="ui dividing header"></div>

  <form #cursusForm="ngForm" class="ui form">

    <div class="fields">
      <div class="six wide field" [class.error]="naam.invalid && naam.touched">
        <label>Naam</label>
        <input required #naam="ngModel" [(ngModel)]="cursus.naam" name="cursus[naam]" type="text" placeholder="Cursus naam">
      </div>
      <div class="three wide field" [class.error]="attitude.invalid && attitude.touched">
        <label>Attitude</label>
        <select required #attitude="ngModel" [(ngModel)]='cursus.attitude' name="cursus[attitude]" class="ui fluid dropdown">
          <option *ngFor="let att of attitudes;">
            {{att.attitude}}
          </option>
        </select>
      </div>
    </div>

    <div class="fields">
      <div class="four wide field" [class.error]="functieniveau.invalid && functieniveau.touched">
        <label>Functieniveau</label>
        <select required #functieniveau="ngModel" [(ngModel)]='cursus.functieniveau' name="cursus[functieniveau]" class="ui fluid dropdown">
          <option *ngFor="let fun of functieniveaus;">
            {{fun.functieniveau}}
          </option>
        </select>
      </div>
      <div class="four wide field" [class.error]="slagingscriterium.invalid && slagingscriterium.touched">
        <label>Slagingscriterium</label>
        <select required #slagingscriterium="ngModel" [(ngModel)]='cursus.slagingscriterium' name="cursus[slagingscriterium]" class="ui fluid dropdown">
          <option *ngFor="let sla of slagingscriteria;">
            {{sla.slagingscriterium}}
          </option>
        </select>
      </div>
      <div class="four wide field" [class.error]="status.invalid && status.touched">
        <label>Status</label>
        <select required #status="ngModel" [(ngModel)]='cursus.status' name="cursus[status]" class="ui fluid dropdown">
          <option *ngFor="let sta of statussen;">
            {{sta.status}}
          </option>
        </select>
      </div>
      <div class="four wide field" [class.error]="maxdeelnemers.invalid && maxdeelnemers.touched">
        <label>Maximum aantal deelnemers</label>
        <div class="field">
          <input required #maxdeelnemers="ngModel" [(ngModel)]="cursus.maxdeelnemers" name="cursus[maxdeelnemers]" type="text" placeholder="Aantal"  pattern="^(\d+)$">
        </div>
      </div>
    </div>

    <div class="field">
      <label>Docenten</label>
      <div *ngFor="let cursusdocent of cursus.cursusdocenten; let i = index;" class="fields">
        <div class="six wide field" [class.error]="cursusdocentnaam.invalid && cursusdocentnaam.touched">
          <input required #cursusdocentnaam="ngModel" [(ngModel)]="cursusdocent.naam" [ngModelOptions]="{standalone: true}" placeholder="Naam">
        </div>
        <div class="six wide field" [class.error]="cursusdocentemail.invalid && cursusdocentemail.touched">
          <input required #cursusdocentemail="ngModel" [(ngModel)]="cursusdocent.email" [ngModelOptions]="{standalone: true}" placeholder="Email">
        </div>
        <div *ngIf="i > 0" class="field">
          <div class="ui icon button" (click)="removeDocent(cursus,i)" id="removeTrainer">
            <i class="remove icon"></i>Verwijderen
          </div>
        </div>
      </div>
      <div class="ui button" (click)="addDocent(cursus)" id="addTrainer">
        <i class="plus icon"></i>Toevoegen
      </div>
    </div>

    <div class="field">
      <label>Data</label>
      <div *ngFor="let cursusdatum of cursus.cursusdata; let i = index;" class="fields">
        <div class="six wide field" [class.error]="cursusdatadatum.invalid && cursusdatadatum.touched">
          <input required #cursusdatadatum="ngModel" [(ngModel)]="cursusdatum.datum" [ngModelOptions]="{standalone: true}" placeholder="Format: dd-mm-yyyy hh:mm:ss" pattern="^(\d{2})-(\d{2})-(\d{4}) (\d{2}):(\d{2}):(\d{2})$">
        </div>
        <div class="ui icon button" (click)="setDefaultDatum(cursus,i)" id="setDefaultDate">
          <i class="pencil icon"></i>
        </div>
        <div *ngIf="i > 0" class="field">
          <div class="ui icon button" (click)="removeDatum(cursus,i)" id="removeDate">
            <i class="remove icon"></i>Verwijderen
          </div>
        </div>
      </div>
      <div class="ui button" (click)="addDatum(cursus)"id="addDate">
        <i class="plus icon"></i>Toevoegen
      </div>
    </div>

    <div class="field">
      <label>Cursisten</label>
      <div *ngFor="let cursuscursist of cursus.cursuscursisten; let i = index;" class="fields">
        <div class="six wide field" [class.error]="cursuscursistnaam.invalid && cursuscursistnaam.touched">
          <input required #cursuscursistnaam="ngModel" [(ngModel)]="cursuscursist.naam" [ngModelOptions]="{standalone: true}" placeholder="Naam">
        </div>
        <div class="six wide field" [class.error]="cursuscursistemail.invalid && cursuscursistemail.touched">
          <input required #cursuscursistemail="ngModel" [(ngModel)]="cursuscursist.email" [ngModelOptions]="{standalone: true}" placeholder="Email">
        </div>
        <div class="field">
          <div class="ui icon button" (click)="removeCursist(cursus,i)" id="removeCursist">
            <i class="remove icon"></i>Verwijderen
          </div>
        </div>
      </div>
    </div>

    <div class="field" [class.error]="beschrijving.invalid && beschrijving.touched">
      <label>Beschrijving</label>
      <textarea required #beschrijving="ngModel" [(ngModel)]="cursus.beschrijving" name="cursus[beschrijving]" placeholder="Beschrijving" rows="5"></textarea>
    </div>

    <div class="ui right floated button" (click)="goBack()" id="goBack">
      Terug
    </div>
    <div [class.disabled]="cursusForm.form.invalid" class="ui right floated pink button" (click)="save()" id="save">
      Opslaan
    </div>

  </form>
</div>
